<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.11.0" allowedVersions="[4.11.0]" targetFramework="net462" />
  <package id="Castle.Core" version="5.1.1" allowedVersions="[5.1.1]" targetFramework="net462" />
  <package id="FakeItEasy" version="8.3.0" allowedVersions="[8.3.0]" targetFramework="net462" />
  <package id="Fare" version="2.1.2" allowedVersions="[2.1.2]" targetFramework="net462" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Core" version="1.0.55" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Bootstrapper.Recipes.Framework" version="1.0.55" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.141" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.141" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Properties.ProjectInfo" version="1.1.141" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.CodeAnalysis.Recipes.SuppressBecause" version="1.0.19" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.60" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.DateTime.Recipes.DateTimeExtensions" version="1.0.19" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Enum.Recipes.EnumExtensions" version="1.0.25" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.36" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Math.Recipes.ThreadSafeRandom" version="1.0.82" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AssemblyHelper" version="1.0.111" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AssemblyLoader" version="1.0.111" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.63" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.156" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>